@model WebApplication2.Models.test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    <p> Search a student: @Html.TextBox("SearchString")<br/>
    <input type="submit" value="filter">
    </p>
}
<div>
    <h4>test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNastere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNastere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facultate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultate)
        </dd>

    </dl>
</div>
<h2>dateStudenti</h2>

